<div class="signup-container">
  <h2>Sign Up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div>
      <label for="email">Email</label>
      <input formControlName="email" type="email" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input formControlName="password" type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="submit">Sign Up</button>
      <button [routerLink]="['/login']">Log In</button>
    </div>
  </form>
</div>
